.idea/
.venv/
.vscode/
__pycache__/
*.pyc
.venv
.pylintrc
.coverage
.coverage.*
coverage.xml
.vscode
.pytest_cache
poetry.lock
htmlcov*

old/
test*.csv
*load.txt
*config.txt
*config.py
sheet.txt
plots
*.sqlite3